h1 {
  font-size: 50px;
  font-family: "Shadows Into Light", cursive;
  text-align: center;
  line-height: 55px;
  color: #ffffff;
}
h2 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 50px;
  color: #ffffff;
}

h4 {
  text-transform: capitalize;
  text-align: center;
  padding: 5px 0px;
  color: rgb(6, 43, 73);
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-size: 15px;
}
ul {
  list-style: none;
  line-height: 25px;
  padding: 10px 10px;
  font-size: 12px;
  text-align: center;
}
p {
  padding: 0px 40px 0px 0px;
  color: #ffffff;
  font-size: 12px;
  text-align: right;
  font-family: "Raleway", sans-serif;
}
hr {
  margin: 25px auto;
  color: #ffffff;
}
.background-container {
  display: block;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  object-fit: cover;
  justify-content: center;
  align-items: center;
}
.background-container video {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100vh;
  pointer-events: none;
}
.container {
  position: relative;
  z-index: 1;
}
.row {
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.weather-application {
  max-width: 600px;
  margin: 30px auto;
  padding-top: 20px;
  border-radius: 30px 30px;
  box-shadow: 5px 5px 10px gray;
  background: linear-gradient(
    rgb(82, 82, 82),
    rgb(37, 37, 37),
    rgb(31, 31, 31),
    rgb(0, 0, 0)
  );
}
.weather-app-result {
  margin: 30px 0px 0px 0px;
  padding: 20px 0px;
  background: linear-gradient(
    rgb(20, 114, 177),
    rgb(31, 181, 231),
    rgb(151, 209, 228)
  );
  border-radius: 30px;
  box-shadow: 0px -10px 1px rgb(8, 95, 153);
}
#input-city-form {
  text-align: center;
  display: block;
  padding: 20px;
}
#city-input-box {
  margin: 15px auto;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  height: 50px;
  width: 200px;
}

.today-temp {
  font-size: 40px;
  color: rgb(6, 43, 73);
}
.author-text {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 10px;
  text-align: left;
}
#github-link {
  text-decoration: none;
}
#fahrenheit,
#celsius {
  text-decoration: none;
  font-size: 15px;
  transition: all 250ms ease-in-out;
}
#fahrenheit:hover,
#celsius:hover {
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
}
.degree-type .active {
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
}
.small-icons {
  color: #ffffff;
}
.weather-variables {
  color: rgb(6, 43, 73);
  font-size: 20px;
}
#input-submit-btn {
  background: linear-gradient(45deg, rgb(20, 114, 177), rgb(31, 181, 231));
}
#current-location-btn {
  background: linear-gradient(45deg, rgb(31, 181, 231), rgb(50, 113, 134));
}
.btn-primary {
  font-size: 12px;
  margin: auto 15px;
  transition: all 250ms ease-in-out;
}
.btn-primary:hover {
  font-size: 16px;
  margin: auto 15px;
  border: 1px solid #ffffff;
}
.font-roadrage {
  font-family: "Road Rage", cursive;
  font-size: 50px;
}
.font-railway {
  font-family: "Raleway", sans-serif;
  font-size: 40px;
}
.font-montserrat {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
}
.app-name {
  text-decoration: none;
  color: #ffffff;
}
.current-date,
.current-time {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  margin: 0px auto;
  padding: 0px 0px 10px 0px;
  color: black;
}
.accordion-button {
  font-size: inherit;
  font-size: 15px;
  background: rgb(12, 64, 95);
  color: #ffffff;
  transition: all 250ms ease-in-out;
}
.accordion-button:hover {
  background: rgb(8, 50, 75);
  font-size: 16px;
}
.accordion-button:not(.collapsed) {
  background: rgb(8, 50, 75);
  font-size: 16px;
}
.accordion-button:focus {
  box-shadow: inherit;
}
.accordion-item {
  background: transparent;
  border: none;
  font-family: "Montserrat", sans-serif;
}
.forecast-button {
  color: #ffffff;
  margin: 0 auto;
  padding: 10px 0px 10px 80px;
}
.accordion-body {
  color: white;
}
.forecast-table .col-2 {
  text-align: center;
  line-height: 35px;
}

.forecast-day {
  color: rgb(8, 50, 75);
  font-weight: bold;
}
.forecast-max {
  color: rgb(8, 50, 75);
  font-weight: 500;
}
.forecast-min {
  color: rgb(13, 65, 95);
  font-weight: 400;
}
#current-date {
  text-align: left;
  padding: 0px 0px 0px 40px;
  color: rgb(6, 43, 73);
}
#current-time {
  text-align: right;
  padding: 0px 40px 0px 0px;
  color: rgb(6, 43, 73);
}
#last-updated {
  text-align: right;
  padding: 0px 40px 0px 0px;
  font-size: 8px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(9, 54, 90);
}
